.comming-soon {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
  padding: 24px 0;
  justify-content: center;
  align-items: center;
  height: 100%;

  img {
    margin-bottom: 32px;
  }
}