<div class="tile-image mb-4">
  <div class="with-image" {% if image is empty %} style="display:none;" {% endif %}>
    <img src="{{image}}" class="img-fluid">
    <a href="#" class="btn btn-outline-danger remove-image ml-4">{{'Remove'|t}}</a>
  </div>
</div>