<div class="main-container">

  <div class="main-modal">
    <div class="main-modal-inner">
      <a href="#" class="video-history">
        <svg width="31" height="31" viewBox="0 0 31 31" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M9.12 15.5L1 7.04167L6.8 1L16.08 9.45833L24.2 1L30 7.04167L21.88 15.5L30 23.9583L24.2 30L16.08 21.5417L6.8 30L1 23.9583L9.12 15.5Z" fill="#75F4F1" stroke="#75F4F1" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
      </a>
      <h1>Hi <span data-field="firstname"></span></h1>
      <p>View your personal information journey! <br> Below is a profile of the content you have viewed. </p>
      <div class="main-modal-tiles">
      </div>
    </div>
  </div>


  <div class="main-title">
    <h1>UNITED STATES AIR FORCE</h1>
    <div class="subtitle">
      <span>AIR. SPACE. CYBERSPACE</span>
    </div>
  </div>

  <div class="video-history-container">
    <a href="#" class="video-history">
      <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M6.06289 5.70594L5.52044 6.03183L10.7092 10.1631C8.71301 11.3624 6.68466 12.885 5.92001 13.4964L4.12578 12.9129L3.74003 13.1446L4.96707 14.3132C4.84554 14.4568 4.61255 14.7608 4.65282 14.8278C4.69308 14.8948 5.07085 14.8319 5.2547 14.792L5.68868 16.3882L6.07442 16.1565L6.41616 14.3223C6.93049 14.2609 10.0917 12.5213 11.6081 11.6592L12.8189 18.1803L13.3613 17.8545L14.1033 10.1601L16.1767 8.91452C16.7925 8.44682 17.9229 7.41917 17.5175 7.05025C17.1121 6.68132 15.8555 7.14196 15.2779 7.4184L13.2045 8.66402L6.06289 5.70594Z" fill="white" stroke="white"/>
      </svg>
    </a>
  </div>
  <div class="video-container">
    <div class="player-wrapper">
      <div class="player-container">
        <div id="player"></div>
      </div>
      <div class="tiles-options">
        <a href="">Show All</a>
        <a href="#" id="change-tiles">T</a>
      </div>
    </div>
    <div class="video-details">
      <div class="video-details-info">
        <a href="#" class="form-close">
          <svg width="13" height="12" viewBox="0 0 13 12" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M1 1L6.5 6M12 11L6.5 6M6.5 6L12 1M6.5 6L1 11" stroke="white"/>
          </svg>
        </a>
        <h2>
          <span data-field="firstname"></span>
          <span>{{video.title}}</span>
          {{#with form}}
            <button class="form-open">
              <svg width="9" height="12" viewBox="0 0 9 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1 1L8 6.41667L1 11" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
            </button>
          {{/with}}
        </h2>

        <div class="video-description">{{{video.decription}}}</div>

        {{#with form}}
          <div class="video-form">
            {{#each fields}}
              <div class="form-step form-field form-{{this.type}} form-label-{{this.key}}" data-index="{{@index}}">
                <button class="form-back">
                  <svg width="9" height="12" viewBox="0 0 9 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M8 11L1 5.58333L8 1" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
                  </svg>
                </button>
                {{#if_eq this.type 'text'}}
                  <label>{{this.label}}:</label>
                  {{#if_eq this.key 'email'}}
                    <div class="input-wrapper">
                      <div class="message error"></div>
                  {{/if_eq}}
                      <input type="text" name="{{this.key}}" value="" placeholder="{{this.placeholder}}" autocomplete="off">
                  {{#if_eq this.key 'email'}}
                    </div>
                  {{/if_eq}}
                  <button class="form-action">
                    <svg width="9" height="12" viewBox="0 0 9 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M1 1L8 6.41667L1 11" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                  </button>
                {{/if_eq}}

                {{#if_eq this.type 'radio'}}
                  <label>{{this.label}}:</label>
                  <div class="form-options">
                    {{#each options}}
                      <label for="{{../key}}-{{@index}}">
                        {{this}}
                        <input type="radio" name="{{../key}}" value="{{this}}" id="{{../key}}-{{@index}}">
                      </label>
                    {{/each}}
                  </div>
                  <button class="form-action">
                    <svg width="9" height="12" viewBox="0 0 9 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M1 1L8 6.41667L1 11" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                  </button>
                {{/if_eq}}

                {{#if_eq this.type 'select'}}
                  <label>{{this.label}}:</label>
                  <select name="{{key}}">
                    {{#each options}}
                      <option value="{{this}}">{{this}}</option>
                    {{/each}}
                  </select>
                  <button class="form-action">
                    <svg width="9" height="12" viewBox="0 0 9 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M1 1L8 6.41667L1 11" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                  </button>
                {{/if_eq}}


                {{#if_eq this.type 'date'}}
                  <label>{{this.label}}:</label>
                  <input type="date" name="{{this.key}}" value="" placeholder="{{this.placeholder}}" autocomplete="off">
                  <button class="form-action">
                    <svg width="9" height="12" viewBox="0 0 9 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M1 1L8 6.41667L1 11" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                  </button>
                {{/if_eq}}

                {{#if_eq this.type 'textarea'}}
                {{/if_eq}}
              </div>
            {{/each}}
            <div class="form-step form-completed">
              <div class="form-completed-message">{{message}}</div>
              <div class="form-completed-icon">
                <svg width="44" height="46" viewBox="0 0 44 46" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M2 27.5003L18.4994 44.0003L41.0493 2" stroke="#75F4F1" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
              </div>
            </div>
            {{#if fields.length }}
              <div class="form-pagination">
                <div class="form-pagination-spacer">
                  <div></div>
                </div>
                <ul>
                  {{#each fields}}
                    <li data-key="{{@index}}">
                      <span></span>
                    </li>
                  {{/each}}
                </ul>
              </div>
            {{/if}}
          </div>
        {{/with}}
      </div>
      <div class="tiles-container">
        <div class="tiles-wrapper">
          {{#each tiles}}
            <div class="tile-item" data-tid="{{this.id}}"
            {{#with params}}
              {{#with condition}}
              data-field-{{key}}="{{value}}"
              {{/with}}
            {{/with}}
            >
              <a href="#" class="tile-link">
                <img src="{{this.image}}">
              </a>
            </div>
          {{/each}}
        </div>
      </div>
    </div>
  </div>
</div>
